<section id="about" class="about-section container">
  <h2 class="visually-hidden">About me</h2>
  <ul class="about-presentation">
    <li class="about-presentation-item">
      <h3 class="about-title">
        I work with people all over the world to create impressive and
        <span class="about-word-red"> functional</span
        ><span class="about-word-grey"> websites</span> that reflect each
        client's unique personality.
      </h3>
    </li>
    <li class="about-presentation-item">
      <picture>
        <source
          srcset="
            /img/about/photo1_d-min.png  1x,
            /img/about/photo@2_d-min.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            /img/about/photo1_t-min.png  1x,
            /img/about/photo@2_t-min.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            /img/about/photo1_m-min.png  1x,
            /img/about/photo@2_m-min.png 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="about-photo"
          src="../img/about/photo1_m-min.png"
          alt="photo"
        />
      </picture>
    </li>
  </ul>
  <div class="skills-swiper swiper">
    <ul class="about-skills swiper-wrapper">
      <li class="about-skills-item swiper-slide">
        <p class="about-skills-txt ellips-red">HTML/CSS</p>
      </li>
      <li class="about-skills-item swiper-slide">
        <p class="about-skills-txt">JavaScript</p>
      </li>
      <li class="about-skills-item swiper-slide">
        <p class="about-skills-txt">React</p>
      </li>
      <li class="about-skills-item swiper-slide">
        <p class="about-skills-txt">Node. js</p>
      </li>
      <li class="about-skills-item swiper-slide">
        <p class="about-skills-txt">React Native</p>
      </li>
      <li class="about-skills-item swiper-slide">
        <p class="about-skills-txt">Git</p>
      </li>
      <li class="about-skills-item swiper-slide">
        <p class="about-skills-txt">Vite</p>
      </li>
    </ul>
    <button class="about-skills-btn" type="button">
      <svg class="about-skills-icon">
        <use href="../img/icon.svg#icon-right"></use>
      </svg>
    </button>
  </div>
</section>
